{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% include 'logged-in-navbar.html' %}
    <div class="categories">
        {% for category in categories %}
            <div class="category">
                <article id="image">
                    <a href="categories/{{ category }}"><img src="{{ category.picture }}" alt="{{ category }}"></a>
                </article>
                <article class="text">
                    <a href="categories/{{ category }}"><h1>{{ category }}</h1></a>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}